<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> User already exsist</h1>
    <div class="form">
        <form action="/signin" method="post">
            <label>email:</label>
            <input type="text" name="email" placeholder="">
<label>Password:</label>
<input type="password" name="password" placeholder="">
<div><input type="submit"></div>
        </form>
    </div>

    <div><a href="register">create a new account</a></div>

</body>
</html>